Ito lang po ang mga requirements. 	

- Business permit or Brgy. permit/certification or DTI (if you have business)
- Payslip and Certificate of Employment (if employed)
- Brgy clearance
- Cedula
- Valid I.D.
- 2pcs 2x2 I.D. picture
- Electric bill


